<!DOCTYPE html>
<html>
  <head>
    <title>Suapoesia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'spectrum', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'spectrum', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="upper-nav">
      <nav id="nav" class="navbar navbar-expand-lg navbar-light upper-nav-color">
        <section class="container-fluid">
          <a class="navbar-brand" href="/">Sua Poesia</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
          <% if is_user? %>
            <span class="mx-4">
              <%= link_to "Novo poema", new_poem_path, class: "btn btn-light", role: "button", id: "new_poem" %>
            </span>
          <% end %>
          <% if is_admin? %>
            <span class="mx-4">
              <%= link_to "Novo usuário", new_user_path, class: "btn btn-light", role: "button", id: "new_poem" %>
            </span>
          <% end %>
          <% if user_signed_in? %>
            <span style="color:#fff">
              <%= current_user.role %>
            </span>
            <span style="color:#fff;margin:0 20px"> | </span>
            <%= link_to "Logout", destroy_user_session_path, class: "login-btn white-text", method: "delete" %>
          <% else %>
            <%= link_to "Criar conta", new_user_registration_path, class: "btn btn-primary mx-2 white-text" %>
            <%= link_to "Login", new_user_session_path, class: "btn btn-primary mx-2 white-text" %>
          <% end %>
        </section>
      </nav>
    </section>


    <%= yield %>
  </body>
</html>
